<input type="hidden" name="merchant_id" value="<%= payment_method.get_preference(:merchant_id) %>">
<input type="hidden" name="merchant_key" value="<%= payment_method.get_preference(:merchant_key) %>">
<input type="hidden" name="amount" value="<%= @order.total %>">
<input type="hidden" name="item_name" value="<%= @order.number %>">

<input type="hidden" name="return_url" value="<%= payment_method.get_preference(:return_url) %>">
<input type="hidden" name="cancel_url" value="<%= payment_method.get_preference(:cancel_url) %>">
<input type="hidden" name="notify_url" value="<%= payment_method.get_preference(:notify_url) %>">

<select name="payment_method" id="payment_method">
    <% Spree::Gateway::PayFast::OPTIONS.each do |key, value| %>
	<option value="<%= value %>"><%= key %></option>
    <% end %>
</select>

<input type="hidden" name="custom_int1" value="<%= payment_method.id %>">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<script>
 (function() {
     var form = document.getElementById("checkout_form_payment");
     form.action = "<%= payment_method.get_preference(:payfast_test_api) %>";
 })();
</script>
